@model Product[]
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Coffee Shop</h1>
   
    <a href="Product/ProductIndex"><font size="6">MENU</font></a>
    

</div>

